.about-us {
    display: flex;
    align-items: center;
}
.about-info {
    margin-right: 50px;
}
@media screen and (max-width: 880px) {
    .about-us {
        flex-direction: column;
    }
    .about-img {
        margin-top: 50px;
    }
    .about-info {
        margin-right: 0;
    }
}
