.footer-top {
    background-color: #333;
}
.footer-info {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.footer-info > h1, .footer-info > p, .footer-info > i {
    color: #fff;
}
.footer-icon {
    margin-top: 30px;
}
.footer-icon > i {
    color: #fff;
    margin: 0 10px;
    font-size: 40px;
}
.footer-bottom {
    background-color: #1d1818ef;
    padding: 20px;
}
.footer-bottom p {
    color: #ffffffb4;
    text-align: center;
    font-size: 16px;
}
@media screen and (max-width: 700px) {
    .footer-info {
        width: 80% !important;
    }
}
@media screen and (max-width: 550px){
    .footer-bottom p {
        font-size: 14px;
    }
    .footer-info p {
        font-size: 16px;
    }
}
@media screen and (max-width: 400px) {
    .footer-info {
        width: 100% !important;
    }
}