* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pd {
    padding: 70px 0;
}
.mt {
    margin-top: 100px;
}
img {
    max-width: 100%;
    overflow: hidden;
}
h1 {
    text-transform: uppercase;
}
.sub-title {
    font-size: 30px;
    color: rgba(37,37,37,0.7);
    line-height: 35px;
    font-weight: 700;
    font-style: normal;
}
.title {
    font-size: 40px;
    color: #252525;
    line-height: 45px;
    font-weight: 600;
    font-style: normal;
    margin: 25px 0;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-size: 16px;
    line-height: 1.42857143;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 18px;
    color: #333;
    line-height: 1.6em;
}
.btn {
    background-color: rgb(255, 69, 79);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border: 0;
    outline: none;
    border-radius: 30px;
    padding: 20px 40px;
    color: #fff;
    margin-top: 30px;
}
@media screen and (max-width: 480px) {
    .title {
        font-size: 30px;
    }
}
@media screen and (max-width: 340px){
    .title {
        font-size: 25px;
    }
}